# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#bin folders
FileServerWin/FileServerWin/x64/
FileServerWin/x64/
FileServerWin/.vs/

FileClientWin/FileClientWin/x64/
FileClientWin/x64/
FileClientWin/.vs/

file_client/bin/
file_server/bin/

#vscode settings
.vscode/